dist/
.astro/
node_modules/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env
.env.production
drama/.env
drama/*.log

.DS_Store
.idea/
.vscode/

*.WordPress*.xml
live.WordPress*.xml
